/*
 * Greed Island Common css File
 */

body {
    padding: 0px;
    margin: 0px;
    font-family: Calibri;
}

.right {
    float: right;
}

.clear {
    float: clear;
}

#main {
    width: 1024px;
    height: 700px;
}

#login {
    width: 1024px;
    margin: 180px auto;
    height: 300px;
}

.pickchar {
    width: 260px;
    height: 300px;
    border: 1px solid #000000;
    float:left;
    margin: 0 0 0 160px;
    text-align:center;
}

.pickchar:hover {
    border: 1px solid #FFA500;
    color: #FFA500;
}

#console {
    width: 90%;
}

#disconnect {
    float: right;
}
