/* Reset */
* {
    padding: 0;
    margin: 0;
}
/* Global */
div {
    font-family: Monaco;
}
.radius {
    border-radius: 5px;
}

.center {
    text-align: center;
}

#map {
    position: relative;
}

.mapblock {
    position: absolute;
}

.layout {
    width: 760px;
    height: 600px;
    position: absolute;
}

.right {
    float: right;
}

.clear {
    float: clear;
}

#main {
    width: 760px;
    height: 600px;
    /*
    overflow: hidden;
    */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: none;
}

#login {
    width: 1024px;
    margin: 180px auto;
    height: 300px;
}

.choose-character {
    width: 260px;
    height: 300px;
    border: 1px solid #000000;
    float:left;
    margin: 0 0 0 160px;
    text-align:center;
}

.choose-character:hover {
    border: 1px solid #FFA500;
    color: #FFA500;
}

#console {
    width: 100%;
    background: #CCCCCC;
}

#disconnect {
    float: right;
}

#Gon {
    background : url("../images/avatar/gon-2.png") no-repeat center; 
    cursor: pointer;
}

#Gon:hover {
    background : url("../images/avatar/gon-1.png") no-repeat center;
}

#Killua {
    background : url("../images/avatar/killua-2.png") no-repeat center;
    cursor: pointer;
}

#Killua:hover {
    background : url("../images/avatar/killua-1.png") no-repeat center;
}
