html {height: 100%; margin: 0;}

body {font-family:微软雅黑, Verdana, 黑体, Arial, Helvetica, sans-serif; height: 100%;}

#main{
    width: 100%;
    height: 100%;
    -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    /*-webkit-perspective-origin: 50% 600px;*/
}

#battlefield{
    -webkit-transform: rotateX(90deg) translateZ(-140px);
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-image: -webkit-gradient(radial,
                            20% 500, 1,
                            50% 500, 800,
                            from(rgba(255, 255, 255, 0.6)),
                            to(rgba(255, 255, 255, 0)));
    -webkit-transform-style: preserve-3d;
    
}

#public {
    position: absolute;
    top: 45%;
    left: 20%;
    color: white;
}

#deliver {
    height: 204px;
    width: 130px;
    border: 2px solid #0000FF;
}
.deliver-cardo{
    height: 194px;
    width: 120px;
    -webkit-box-shadow: 2px 2px 6px #444;
    background-image: url("cardo_reverse.png");
    position: absolute;
}

#me {
    -webkit-transform: translateZ(400px);
    -webkit-transform-style: preserve-3d;
    height: 0px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    position: absolute;

    -webkit-animation: my-float 6000ms infinite ease-in-out;
}

@-webkit-keyframes my-float{
    0% { top: 70%; }
    40% { top: 58%; }
    100% { top: 70%; }
}

